/cuadernilloRubio/nbproject/private/
/cuadernilloRubio/build/
/CuadernilloRubioPofe/nbproject/private/
/Alumnos/nbproject/private/
/Alumnos/build/
/Alumnos_2/nbproject/private/
/Alumnos_2/build/
/Alumnos_asignaturas/nbproject/private/
/JuegoPreguntas/nbproject/private/
/JuegoPreguntas/build/
/PresupuestoReforma/nbproject/private/
/PresupuestoReforma/build/